
@import "https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap";

*{
    margin:0;
}

body{
    font-family: "Raleway", serif;
    background-image: url('./assets/lightpaperfibers.png'); 
    background-repeat: repeat; 
    background-size: 500px 300px;
}

html{
    scroll-behavior: smooth;
}

p{
    color: rgb(85,85,85);
}

section{
    padding-top: 1vh;
    height: 50vh;
    box-sizing: border-box;
    min-height: fit-content;
}

#profile{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 40vh;
    background-image: url('./assets/header.png');
    background-repeat: repeat-x;
    background-size: contain;
}

.profile_picture {
    display: flex;
    height: 200px;
    width: 200px;
    align-self: center;
    margin-bottom: 2.5rem;
}

.section_text
{
    align-self: center;
    text-align: center;
    margin-bottom: 2rem;
}

.section_text p {
    font-weight: 600;
}

.section_text_1{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.title{
    color: rgb(195,195,195);
    text-align: center;
    font-size: 3rem;
}

/*  B U T T O N S  */

.btn{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn_color{
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
    color: rgb(160,100,255);
    border: none;
}

.btn_color:hover
{
    background: rgb(160,100,255);
    color: white;
}


/*  P R O J E C T S  */

.section_title{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.projects_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.project {
    position: relative; 
    width: 300px;
    overflow: hidden;
    border-radius: 12px;
    transition: box-shadow 0.3s ease;
}

.project_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease;
    filter: brightness(0.8);
}

.project:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.project:hover .project_img {
    filter: brightness(0.4);
}

.project_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    z-index: 1;
    pointer-events: none;
}

/*  P A G E S  */

.project_header {
    background-color: black;
    padding: 1.5rem 2rem;
    text-align: left;
    position: sticky; 
    top: 0;
    z-index: 1000;
}

.home_btn {
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.home_btn:hover {
    color: rgb(160,100,255);
}


#cover{
    display: flex;
    position: relative;
    width: 100%;
    height: max-content;
    justify-content: center;
    gap: 5rem;
    margin-top: -10px;
}

.cover_img {
    filter: brightness(0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: contain; 
    z-index: -1;
}

.project_title {
    position: absolute;
    top: 30%;
    color: white;
    font-size: 5em;
    font-weight: bold;
    text-align: center;
    z-index: 1; 
    padding: 20px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.description {
    padding: 40px 400px;
    font-size: 1.7em;
    line-height: 1.6;
    color: #555;
}

.description-container {
    max-width: 800px; 
    margin: 0 auto;
    text-align: center;
}

.store_btn {
    position: absolute;
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 25%;
    font-weight: 800;
    font-size: 0.6em;
    text-decoration: none;
    text-align: center;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
    color: rgb(160,100,255);
    border: rgb(160,100,255) 0.2rem solid;
}

.store_btn:hover {
    background:  rgb(160,100,255);
    color: white;
}


/*  I M G   C A R O U S E L  */

.showcase{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 50vh; 
    margin: 0;
}

.carousel {
    position: relative;
    width: 80%; 
    max-width: 700px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.carousel-item {
    display: none; 
}

.carousel-item.active {
    display: block; 
}

.carousel-content {
    width: 100%;
    height: auto;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(100,100,100);
    background: none;
    border: none; /* Quita el borde */
    padding: 15px; /* Tamaño del botón */
    cursor: pointer;
    font-size: 2rem;
    transition: color 0.3s ease, transform 0.3s ease; /* Efecto de hover */
    z-index: 2; /* Asegura que estén encima de la imagen */
    outline: none; /* Quita el borde de enfoque */
}
.carousel-control:hover {
    color: rgb(160,100,255);
}


.prev {
    left:-50px;
}

.next {
    right:-50px;
}