
  html {
      font-size:100%;
}
  
  body {
      -webkit-font-smoothing:antialiased;
      color:#333332;
      font-family:Raleway, serif;
      font-size:16px;
      font-weight:400;
      line-height:1.4;
      text-rendering:optimizeLegibility;
}
  
  
  h1 {
      color:rgba(0,0,0,.75);
      font-family:Raleway;
      text-align: center;
      max-width: auto;
      position: relative;
}

.collapsible-section
{
    text-align: left;
}

.collapsible-section .content {

    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease, padding 0.5s ease;
    padding-left: 13%;

    display: inline-block;
    text-align: left;
}

.collapsible-section.expanded .content {
    max-height: 6000px; 
    opacity: 1;
    margin-bottom: 50px;

    display: inline-block;
    text-align: left;
}


 .title {
    cursor: pointer;
    font-family:Raleway;
    font-size: 25vw;
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-variation-settings: "wght" 150;
    transition: all 1.5s;
}
  
 .title:hover {
    font-variation-settings: "wght" 400;
}
  
.wrapper  {
      height:100%;
}
  
.left  {
    background-color: rgba(0,0,0,.025);
    border-right: 1px solid rgba(0,0,0,.075);
    float: left; 
    height: 100%;
    min-width: 256px;
    position: fixed;
    width: 33.33%;
    
}
  
.right  {
    float: right;
    height: 100%;
    position: relative;
    width: 66.66%;
    overflow-y: auto;
}
  
  .right::-webkit-scrollbar {
    display: none;
}

.right {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.name  {
      background:rgba(0,0,0,.001);
      bottom:0;
      height:290px;
      left:0;
      margin:auto;
      position:absolute;
      right:0;
      top:0;
      width:85%;
}
  
  .me-img
  {
      background:url(Resources/Profile.jpg) no-repeat center center ;
      background-size:100%;
      background-position:0px;
      border-radius:100%;
      height:180px;
      margin:0 auto;
      position:relative;
      width:180px;
  }
  
  .name h1
  {
      font-size:2em;
      text-align:center;
      font-weight:200;
      text-transform: uppercase;
  }
  
  .name p
  {
      color:rgba(0,0,0,.75);
      font-size:1.25em;
      line-height:1.25;
      margin:-10px 0 0 0;
      font-weight:600;
      text-align:center;
  }
  
  .inner
  {
      margin:180px auto;
      max-width:975px;
      padding:3em;
      align-items: center;
  }
  
  .inner h1
  {
      font-size:1.75em;
  }
  
  .inner p
  {
      color:rgba(0,0,0,.5);
      max-width: 700px;
  }
  
  .inner p em
  {
      color:rgba(0,0,0,1);
      font-style:normal;
  }
  
  .inner section
  {
      margin:10px auto;
  }
  
  ul
  {
      list-style-type:none;
      margin-top:-10px;
      max-width:800px;
      padding:0;
  }
   
  .skill-set
  {
    margin-top:10px;
  }

  .skill-set li
  {
      background:rgba(0,0,0,.75);
      border-radius:4px;
      color:#FFF;
      display:inline-block;
      list-style:none;
      margin:5px 15px 0 0;
      padding:8px;
      text-align:justify;
  }
  

  @media screen and (max-width: 75em) {
    body { font-size: 16px; }
    p { font-size: 14px; }
}

@media screen and (max-width: 60em) {
    body{font-size: 14px;}
    p { font-size: 12px; }
}

@media screen and (max-width: 48em) {
    .left, .right {
        float: none;
        position: relative !important;
        width: 100%;
        min-height: 500px;
    }
    .handmade {
        text-align: center !important;
        margin-top: 0px !important;
    }
    body{font-size: 14px;}
    p { font-size: 10px; } 
}
