<html>
  <head>
    <link href='stylesheet.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
  <div class="left">

    <div class="name">

      <div class="me-img"></div>

      <div class="name-text">

        <h1>Paula <em>Cabezas</em></h1>
        <p>GAME PROGRAMMER</p>
      </div>

    </div>

  </div>
  <div class="right">

    <div class="inner">

      <section class="collapsible-section">
        <h1 class="title">About me</h1>
        <div class="content">
          <p><em>Quisque vestibulum purus non quam tristique, non gravida ligula facilisis. Cras id enim quis purus posuere pulvinar quis vel sapien. Cras id volutpat neque. Curabitur sodales ultrices leo quis rutrum. Maecenas sed feugiat ligula, fringilla mollis lacus. Suspendisse at pharetra purus. </em></p>
        </div>
      </section>
      <!-- -->
      <section class="collapsible-section">
        <h1 class="title">Experience</h1>
        <div class="content">
        <div class="table-grid">
          <div class="entry">
            <div class="date">Jan 23 - Oct 23</div>
            <div class="description">Gameplay Programmer</div>
            <div class="institution">Blackmouth Games</div>
          </div>

          <div class="entry">
            <div class="date">Nov 23 - Apr 24</div>
            <div class="description">Programming Manager</div>
            <div class="institution">Blackmouth Games</div>
          </div>

          <div class="entry">
            <div class="date">May 24 - Now</div>
            <div class="description">Lead Game Manager Programmer</div>
            <div class="institution">Blackmouth Games</div>
          </div>
          </div>
        </div>
      </section>
      <!-- -->
      <section class="collapsible-section">
        <h1 class="title">Education</h1>
        <div class="content">
          <p>2017 - 2021 | <em>Degree in Interactive Products Design | U-Tad, Madrid </em></p>

          <p>2019 | <em>Games and Entertainment Technology (Erasmus) | Nord University, Steinjker, Norway</em></p>

          <p>2021 - 2022 | <em>Master in Game Programming | U-Tad, Madrid</em></p>
        </div>
      </section>
      <!-- -->
      <section class="collapsible-section">
        <h1 class="title">Technical Skills</h1>
        <div class="content">
        <ul class="skill-set">
          <li>C++</li>
          <li>C#</li>
          <li>UE5</li>
          <li>Unity</li>
          <li>Aws</li>
          <li>GitHub</li>
          <li>Jira</li>
        </ul>
        </div>
      </section>
    <!-- -->
      <section class="collapsible-section">
        <h1 class="title">Contact</h1>
        <div class="content">
          <p>Poner correo y demas </em></p>
        </div>
      </section>
    </div>
      <p>2024 <em> Paula Cabezas Carreño</em></p>
  </div>
  <script src="script.js"></script>
  </body>
</html>