<html>
  <head>
    <link href='stylesheet.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
  <div class="left">

    <div class="name">

      <div class="me-img"></div>

      <div class="name-text">

        <h1>Paula <em>Cabezas</em></h1>
        <p>GAME PROGRAMMER</p>
      </div>

    </div>

  </div>
  <div class="right">

    <div class="inner">

      <section class="collapsible-section">
        <h1 class="title">About me</h1>
        <div class="content">
          <p><em>Quisque vestibulum purus non quam tristique, non gravida ligula facilisis. Cras id enim quis purus posuere pulvinar quis vel sapien. Cras id volutpat neque. Curabitur sodales ultrices leo quis rutrum. Maecenas sed feugiat ligula, fringilla mollis lacus. Suspendisse at pharetra purus. </em></p>
        </div>
      </section>
      <!-- -->
      <section class="collapsible-section">
        <h1 class="title">Experience</h1>
        <div class="content">
          <p>Jan 2023 - Oct 2023  |  <em>Gameplay Programmer </em> |  Blackmouth Games</p>
          <p>Nov 2023 - Apr 2024  |  <em>Programming Manager </em> |  Blackmouth Games</p>
          <p>Feb 2024 - Now  |  <em>Unreal Programming Lecturer </em> |  The Core School</p>
          <p>May 2024 - Now  |  <em>Lead Game Manager Programmer </em> |  Blackmouth Games</p>
        </div>
      </section>
      <!-- -->
      <section class="collapsible-section">
        <h1 class="title">Education</h1>
        <div class="content">
          <p>2017 - 2021  |  <em>Degree in Interactive Products Design </em> |  U-Tad, Madrid </p>
          <p>2019  |  <em>Games and Entertainment Technology (Erasmus) </em> |  Nord University, Steinjker, Norway</p>
          <p>2021 - 2022  |  <em>Master in Game Programming </em>| U-Tad, Madrid</p>
        </div>
      </section>
      <!-- -->
      <section class="collapsible-section">
        <h1 class="title">Technical Skills</h1>
        <div class="content">
        <ul class="skill-set">
          <li>C++</li>
          <li>C#</li>
          <li>UE5</li>
          <li>Networking</li>
          <li>Unity</li>
          <li>Aws</li>
          <li>Git</li>
          <li>Jira</li>
        </ul>
        </div>
      </section>
    <!-- -->
      <section class="collapsible-section">
        <h1 class="title">Contact</h1>
        <div class="content">
          <p>phone |  <em>605111135</em></p>
          <p>e-mail | <em>paula.cab.car@gmail.com</em></p>
        </div>
      </section>
    </div>
  </div>
  <script src="script.js"></script>
  </body>
</html>